*.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x0_y0.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x0_y1.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x0_y2.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x1_y3.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x2_y2.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x3_y3.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x3_y4.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x4_y1.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x4_y3.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x4_y4.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x4_y5.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x6_y2.umap filter=lfs diff=lfs merge=lfs -text
Heightmap_x5_y4.umap filter=lfs diff=lfs merge=lfs -text
